{% extends 'base.html' %}
{% block title %}
	Sign up
{% endblock title %}

{% block main %}

<div class="container banner">
	<div class="container text-center">
		<h2 class="text-warning mb-5">Sign up</h2>
		<form action="/signin">
			<input required type="text" name="email" placeholder="example123  " class="form-control my-2">
			<input required type="text" name="email" placeholder="example@xyz.com " class="form-control my-2">
			<input required type="password" name="passwd" placeholder="password " class="form-control my-2">
			<input required type="password" name="passwd" placeholder="confirm password " class="form-control my-2">
			<input type="submit" class="btn btn-primary btn-lg mt-3" value="Sign in">

		</form>
	</div>
</div>
{% endblock main %}